/*IMPORTS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'lunaregular';
    src: url('../fonts/luna-webfont.woff') format('woff'), url('../fonts/luna-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}







/*HEADER-----------------------------------------------*/

header {
    background-color: #911100;
    height: 20%;
    width: 100%;
    box-shadow: 0px 0px 3px 0px rgba(11,11,11,0.5);
    position: fixed;

}


#leftLogoAndName {
    float: left;
    border: 2px solid #000000;
    height: 98%;
}

.logo {
    height: 100px;
    float: left;
    padding: 25px 10px;
}

#rightNavigation a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #f9dc5f;
    text-decoration: none;
}

#rightNavigation {
    float: right;
    height: 98%;
    border: 2px solid #000000;
}

#rightNavigation ul {
    padding: 53px 0; 
}

#rightNavigation li {
    display: inline;
    font-size: 20px;
    padding: 0 15px;
    text-decoration: none;
}


/*BODY/MAIN PAGE-------------------------------------------*/

body {
    background-color: #e6e7e8;
}

main {
    clear: both;
}


/*
h2, ul, p, form, button {
    font-family: 'Open Sans', sans-serif;
}*/


/*FOOTER-----------------------------------------------*/

footer {
    background-color: #911100;
    box-shadow: 0px 0px 3px 0px rgba(11,11,11,0.5);
    height: 6.5%;
    width: 100%;
    bottom: 0;
    
    position: fixed;

}