footer {
    background-color: #911100;
    box-shadow: 0px 0px 3px 0px rgba(11, 11, 11, 0.5);
    clear: both;
    display: block;
    width: 100%;
    line-height: 1.5;
}

#footer ul {
    display: block;
    z-index: 10;
    position: relative;
}

.links {
    padding: 20px;
}

#footer li {
    display: inline;
    text-decoration: none;
    padding: 0 15px;
}

#footer a {
    font-family: 'Open Sans', sans-serif;
    color: #ffb878;
    font-size: 25px;
    text-decoration: none
}

#footer a:hover {
    color: rgba(244, 112, 10, 1);
    transition: color .3s;
}

.copyright {
    font-family: 'Open Sans', sans-serif;
    color: #ffb878;
    font-size: 16px;
    padding-bottom: 20px;
}
