footer {
    background-color: #911100;
    box-shadow: 0px 0px 3px 0px rgba(11, 11, 11, 0.5);
    clear: both;
    display: block;
    width: 100%;
    line-height: 1.5;
}

#footer ul {
    display: block;
    padding: 20px;
    z-index: 10;
    position: relative;
}

@media (min-width: 700px) {
    #footer ul {
        float: right;
    }
}

#footer li {
    display: inline;
    text-decoration: none;
    padding: 0 10px;
}

#footer a {
    font-family: 'Open Sans', sans-serif;
    color: #ffb878;
    font-size: 16px;
}

@media (min-width: 600px) {
    #footer a {
        font-size: 20px;
    }
}