footer {
    background-color: #911100;
    box-shadow: 0px 0px 3px 0px rgba(11, 11, 11, 0.5);
    clear: both;
    display: block;
    width: 100%;
    line-height: 1.5;
}

@media (min-width: 700px) {
    footer {
        height: 70px;
    }
}

#footer ul {
    display: block;
    z-index: 10;
    position: relative;
}

.links {
    padding: 20px;
}

@media (min-width: 700px) {
    .links {
        float: right;
    }
    .copyright {
        float: left;
    }
}

#footer li {
    display: inline;
    text-decoration: none;
    padding: 0 10px;
}

#footer a {
    font-family: 'Open Sans', sans-serif;
    color: #ffb878;
    font-size: 14.5px;
    text-decoration: none
}

@media (min-width: 600px) {
    #footer a {
        font-size: 20px;
    }
}

#footer a:hover {
    color: rgba(244, 112, 10, 1);
    transition: color .3s;
}

.copyright {
    font-family: 'Open Sans', sans-serif;
    color: #ffb878;
    font-size: 14.5px;
    padding-bottom: 20px;
}

@media (min-width: 770px) {
    .copyright {
        padding: 24px 20px;
    }
}