header {
    background-color: #911100;
    width: 100%;
    box-shadow: 0px 0px 3px 0px rgba(11, 11, 11, 0.5);
    position: relative;
    z-index: 100;
}

#leftLogoAndName {
    display: block;
    margin: 0 auto;
    width: 260px;
    padding: 20px;
}

@media (min-width: 450px) {
  #leftLogoAndName {
    width: 450px;
  }
}

.dividingLine {
    border-bottom: thick solid rgba(183, 63, 4, 1);
    width: 90%;
    border-radius: 50px;
    margin: 0 auto;
}

nav {
    margin: 0 auto;
    padding: 15px 20px;
}

ul {
    text-align: center;
}

.navigationText {
  display: inline-block;
    padding: 10px 5px;
}

.navigationLinks {
    font-family: 'Open Sans', sans-serif;
    color: #f9dc5f;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    background-color: rgba(147, 14, 0, 1);
    &:hover {
      color: rgba(255, 183, 120, 1);
      transition: color 0.3s;
    }
}

@media (min-width: 500px) {
  .navigationText {
    padding: 10px 10px;
  }
  .navigationLinks {
    font-size: 16px;
  }
}

@media (min-width: 650px) {
  .navigationLinks {
    font-size: 17px;
  }
}

@media (min-width: 960px) {
header {
  height: 135px;
}

  #leftLogoAndName {
    float: left;
    width: 400px;
  }

  header .dividingLine {
    display: none;
  }

  nav {
    float: right;
    margin: 34px 0px;
  }

  .navigationLinks {
    font-size: 14px;
  }
}

@media (min-width: 1100px) {


  .navigationLinks {
    font-size: 17px;
  }
}
