.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  clear: both;
  margin: 20px 5px;
  color: #930F00;
  font-weight: 700;
  line-height: 1.5;
}

#leftInformation {
  text-align: center;
  line-height: 1.5;
  h2, div, h4 {
    margin: 20px 5px;
  }
}

#rightPictures {
  margin: 0px 5px;
}


@media (min-width: 700px) {
  #leftInformation {
    width: 48%;
    float: left;
    margin-left: 10px;
    font-size: 15px;
    video {
      width: 50%;
    }
  }

  #rightPictures {
    width: 48%;
    float: right;
    margin-right: 10px;
  }
}

@medi (min-width: 900px) {
  .title {
    font-size: 40px;
  }
}


video {
  width: 100%;
  margin-bottom: 5px;
}

img {
  width: 100%;
  margin-bottom: 5px;
}
