.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  clear: both;
  margin: 30px 10px;
  color: #930F00;
  font-weight: 700;
  line-height: 1.5;
}

.position {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  clear: both;
  margin: 20px 10px;
  color: #b73f04;
  font-weight: 700;
  line-height: 1.5;
}

#leftInformation {
  text-align: center;
  line-height: 1.5;
  font-size: 13px;
  div,
  h1,
  ul,
  h3,
  h4 {
    margin: 30px;
  }
}

.software {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.software img {
  height: 70px;
  width: 70px;
  margin: 5px 5px;
}

h4 {
  background-color: rgba(183, 63, 4, 1);
  border: 2px solid rgba(145, 16, 0, 1);
  padding: 7px 35px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border-radius: 2px;
  text-align: center;
  -webkit-appearance: none;
  cursor: pointer;
  &:hover {
    border: 2px solid rgba(96, 16, 6, 1);
    background-color: rgba(145, 16, 0, 1);
    transition: border 0.3s, background-color 0.3s;
  }
}

.linkToWebsite {
  text-decoration: none;
  color: #f9dc5f;
  &:hover {
    color: rgba(242, 112, 35, 1);
    transition: color 0.3s;
  }
}

#rightPictures {
  margin: 0 10px;
  img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  .planets {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    margin-bottom: 10px;
  }
  video {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 20px;
  }


}

.arrows {
  clear: both;
  width: 100%;
  display: inline-block;
}

.lastProject {
  width: 100px;
  float: left;
  margin-left: 10px;
}

.nextProject {
  width: 100px;
  float: right;
  margin-right: 10px;
}

@media (min-width: 700px) {
  .lastProject,
  .nextProject {
    width: 150px;
  }
}
@media (min-width: 800px) {
  .title {
    font-size: 35px;
    margin: 30px 10px;
  }

  .position {
    font-size: 25px;
    margin: 30px 10px;
  }

  #leftInformation {
    width: 34%;
    float: left;
    font-size: 16px;
    margin-left: 3%;

    h1,
    ul,
    div,
    h4 {
      margin-top: 0;
    }
  }


  #rightPictures {
    width: 60%;
    float: right;
    margin: 0 3% 0 0;
  }

  .lastProject,
  .nextProject {
    width: 200px;
  }

  .arrows {
    margin: 10px 0px;
  }
}
