
body {
  background-color: rgba(230, 231, 232, 1);
}

#thankYouPage {
    display: block;
    margin: 5% auto;
    height: 70%;
    width: 70%;
    background-color: rgba(255,255,255,1);
    border: 2px solid rgba(153, 153, 153, 1);
    line-height: 1.5;
}

#thankYouPage .logo {
    border: none;
    display: block;
    margin: 0 auto;
    width: 120px;
    padding-top: 20px;
}

#thankYouPage h1 {
    font-family: 'lunaregular', cursive;
    color: rgba(242, 112, 35, 1);
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
}

#thankYouPage h2 {
    font-family: 'Open Sans', sans-serif;
    color: rgba(145, 16, 0, 1);
    text-align: center;
    font-size: 17px;
    padding-top: 20px;
}

#thankYouPage h3 {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    padding-bottom: 20px;
}

#thankYouPage a {
    font-family: 'Open Sans', sans-serif;
    color: rgba(145, 16, 0, 1);
    font-weight: 300;
    font-style: italic;
    color: rgba(145, 16, 0, 1);
}

@media (min-width: 700px) {
  #thankYouPage .logo  {
    width: 150px;
  }

  #thankYouPage h1 {
    font-size: 30px;
  }

  #thankYouPage h2 {
    font-size: 25px;
  }

  #thankYouPage h3 {
    font-size: 20px;
  }
}
